.App {
  text-align: center;
}
img{
  width: 100%;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

body{
  width: 1440px;
  overflow: auto;
}
      
.col1{
    left: 0;
    width: 600px;
}
.col2{
    position: relative;
    left: 660px;
    width: 700px;
}
.machine {
    display: block;
    position: absolute;
    left: 30px;
    width: 600px;

}
button.mc {
    background-color: #cfd0d5; /* Green */
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    border-radius: 50%;
}
.latte{
    left: 585px;
    top: 15px;
}
.espres{
    left: 585px;
    top: 73px;
}
.mocca{
    left: 585px;
    top: 135px;
}
.lv1{
    left: 585px;
    top: 197px;
}
.lv2{
    left: 585px;
    top: 259px;
}
.ice{
    left: 585px;
    top: 321px;
}
.hot{
    left: 585px;
    top: 383px;
}

.cancel{
    position: relative;
    left: 480px;
    top: 572px;
    background-color: red;
    padding: 10px 20px;
    width: 107px;
    border-radius: 15px;
}

.token{
  position: absolute;
    left: 433px;
    top: 524px;
    background-color: blue;
    padding: 10px 40px;
    border-radius: 5px;
    width: 186px;
}

button:hover{
    background-color: #707174;
}

@media screen and (max-width: 1200px){
    .right{
        left: 30px;
        top: 740px;
        position: relative;
    }
}

